/* section {
	width: 50%;
} */

* {
	font-family: Trebuchet MS, sans-serif;
	color: #434343;
}

a {
	color: blue;
}

body {
	padding: 0;
	margin: 0;
	margin-bottom: 200px;
}

nav {
	height: 100px;
	width: 100%;
	display: flex;
	position: fixed;

	z-index: 9999;

	box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

nav > a {
	height: 100%;
	flex: 1 1 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	text-decoration: none;
	color: #434343;

	font-size: 1.6em;
	font-family: Trebuchet MS, sans-serif;
	font-weight: 600;
	text-transform: uppercase;

	border-right: 1px dashed rgba(0,0,0,0.15);

	padding: 0 15px;

	outline: none;

	background-color: white;
	transition: all 0.2s ease;
}

nav > a:last-of-type {
	border-right: none;
}

nav > a:hover {color: white;}
nav > a[href="pi1.php"]:hover {background-color: #a84c6c;}
nav > a[href="pi2.php"]:hover {background-color: #965573;}
nav > a[href="pi3.php"]:hover {background-color: #78647e;}
nav > a[href="pi4.php"]:hover {background-color: #64758A;}
nav > a[href="pi5.php"]:hover {background-color: #4A8292;}
nav > a[href="ps1.php"]:hover {background-color: #3c8d99;}


h1 {
	font-family: Trebuchet MS, sans-serif;
	color: #434343;
	margin-top: 160px;
	margin-bottom: 40px;
	font-size: 2.5em;
}

h2 {
	font-family: Trebuchet MS, sans-serif;
	color: #777;
	font-size: 1.35em;
	text-transform: uppercase;

	margin: 60px 0 20px 0;
}

h3 {
	margin-bottom: 20px;
}

section {
	width: 800px;
}

section > form  {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

label {
	display: block;

	color: #434343;

	font-family: Trebuchet MS, sans-serif;
	font-size: 1.25em;
	text-transform: uppercase;
}

input, select, textarea {
	font-size: 1.4em;
	width: 400px;
	margin-bottom: 20px;
}


input[type="submit"] {
	font-size: 1em;
	text-transform: uppercase;

	margin: 0 auto;
	width: 140px;
	padding: 10px;
	display: inline-block;
	border: none;
	background: rgba(0,0,0,0.1);
	border-radius: 2px;

	margin: 10px;

	transition: all 0.2s ease;
}
input[type="submit"]:hover {
	background: #434343;
	box-shadow: none;
	color: white;
}


table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	margin-bottom: 80px;

	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}
th,
td {
padding: 15px;
	background-color: rgba(0, 0, 0, 0);
	/* color: #fff; */
}
th {
	text-align: left;
}
thead th {
	background-color: #55608f;
}
tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
tbody td {
	position: relative;
}
tbody td:hover::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -9999px;
	bottom: -9999px;
	background-color: rgba(0, 0, 0, 0.05);
	z-index: -1;
}

thead > tr > td {
	background-color: #434343;
	color: white;

	font-size: 1.1em;
	font-family: Trebuchet MS, sans-serif;
	text-transform: capitalize;
}

#genre-boxes {
	width: 400px;
}
#genre-boxes > div {
	margin-top: 10px;
	display: inline-block;
}
#genre-boxes > div > div > input {
	display: inline-block;
	width: 14px;
}
#genre-boxes > div > div > label {
	display: inline-block;
}







